# Database configuration
DATABASE_URL="file:./dev.db"

# Provisioning API Token (must match the token sent by the Drone)
PROVISION_SECRET_TOKEN="FACTORY_SECRET_KEY_2026"

# WireGuard Server Configuration
WG_SERVER_PUBLIC_KEY="YOUR_SERVER_PUBLIC_KEY"
WG_SERVER_ENDPOINT="103.253.20.32:10006"
WG_SERVER_ALLOWED_IPS="10.13.37.0/24"
WG_SERVER_PERSISTENT_KEEPALIVE=25
WG_INTERFACE="wg0"

# MAVLink Router Configuration
MAVLINK_TARGET_HOST="10.0.0.1"
MAVLINK_TARGET_PORT="14550"

# Application Listen Port
PORT=10004
